@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    border: 1px solid black;
}

.container {
    position: relative;
    width: 200px;
}

.topRight {
    position: absolute;
    top: 2px;
    right: 6px;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}